<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <meta charset="UTF-8">
  <title>участники</title>
</head>
<body>
<div layout:fragment="content">
  <div class="mt-5">
    <div class="row">
      <div class="col">
        <h2>Все участники</h2>
      </div>
      <div sec:authorize="isAuthenticated() && hasRole('ADMIN')" class="col">
        <a href="/directors/add"
           class="btn btn-success"
           role="button"
           style="float: right"
           aria-disabled="true">Добавить участника</a>
      </div>
    </div>
    <div>
      <table class="table table-hover mt-3">
        <thead>
        <tr>
          <th scope="col">ФИО</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="directors : ${directors}">
          <td>
            <a class="text-link text-blue" th:href="'/directors/getById?id=' + ${directors.getId()}" th:text="${directors.getDirectorsFio()}"></a>
          </td>

          <td>
            <div sec:authorize="isAuthenticated() && hasRole('ADMIN')">
              <a class="btn btn-sm btn-outline-success" th:href="'/directors/update/' + ${directors.id}">Обновить</a>
              <a class="btn btn-sm btn-outline-danger" th:href="'/directors/delete/' + ${directors.id}">Удалить</a>
            </div>

          </td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
</body>
</html>
