<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <meta charset="UTF-8">
  <title>фильмы</title>
</head>
<body>
<div layout:fragment="content">
  <div class="mt-5">
    <div class="row">
      <div class="col">
        <h2>Все фильмы</h2>
      </div>
      <div sec:authorize="isAuthenticated() && hasRole('ADMIN')" class="col">
        <a href="/films/add"

           class="btn btn-success"
           role="button"
           style="float: right"
           aria-disabled="true">Добавить фильм</a>
      </div>
    </div>
    <div>
      <table class="table table-hover mt-3">
        <thead>
        <tr>
          <th scope="col">Название</th>
          <th scope="col">Жанр</th>


          <th scope="col">Дата создания</th>
          <th scope="col">Участники</th>
          <!--          <th scope="col">Онлайн копия</th>-->
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="films : ${films}">
          <td>
            <a class="text-link text-blue" th:href="'/films/getById?id=' + ${films.getId()}" th:text="${films.getTitle()}"></a>
          </td>
          <td th:text="${films.getGenre()}"></td>
          <td th:text="${films.getPremierYear()}"></td>
          <td>
<!--                        <ul>-->
<!--                          <li th:each="directors : ${films.getDirectors()}" th:text="${directors.getDirectorsFio()}"></li>-->
<!--                        </ul>-->
          </td>
          <td>
            <div sec:authorize="isAuthenticated() && hasRole('ADMIN')">
              <a class="btn btn-sm btn-outline-success" th:href="'/films/update/' + ${films.id}">Обновить</a>
              <a class="btn btn-sm btn-outline-danger" th:href="'/films/delete/' + ${films.id}">Удалить</a>
            </div>

          </td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
</body>
</html>

